@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  * {
    @apply border-border;
  }
 html, body {
    @apply bg-background text-foreground;
   
   
  }
}

@layer components {
  .bg-background {
    background-color:rgba(0, 0, 0, 0.959);
    
  }
}



.grid-background {
  
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Sous la carte */

  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 80px 80px; /* Taille des carreaux ajustée ici */
  background-repeat: repeat;
}

.grid-background {
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Placé sous la carte */

  background-image: 
    radial-gradient(circle at center, rgba(255, 255, 255, 0.05) 20%, rgba(0, 0, 0, 0.959) 100%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: cover, 80px 80px, 80px 80px;
  background-repeat: no-repeat, repeat, repeat;
}




.card-style {
  width: 100%; /* Utilisez la largeur totale du conteneur */
  height: 400px; /* Hauteur fixe pour le graphique */
  /* autres styles si nécessaire */
}
